useDynLib(DECIPHER)

import(methods)
import(S4Vectors)
import(IRanges)
import(XVector)
import(Biostrings)
import(RSQLite)
import(DBI)
import(parallel)

importFrom("grDevices", "colorRampPalette", "colors", "dev.flush", "dev.hold", "dev.size", "rainbow")
importFrom("graphics", "abline", "axis", "box", "legend", "mtext", "par", "plot", "points", "rect", "segments", "strheight", "strwidth", "text")
importFrom("stats", "dendrapply", "dist", "is.leaf", "nlminb", "optimize", "order.dendrogram", "pbinom", "reorder", "setNames", "step", "uniroot")
importFrom("utils", "browseURL", "data", "flush.console", "object.size", "setTxtProgressBar", "txtProgressBar")

export(
# interacting with a database:
Add2DB, Codec, Seqs2DB, SearchDB, DB2Seqs,
# assigning an identifier:
FormGroups, IdentifyByRank,
# lengths:
IdLengths, TerminalChar,
# phylogenetics:
DistanceMatrix, IdClusters, MODELS, ReadDendrogram, WriteDendrogram,
# forming consensus:
ConsensusSequence, Disambiguate, IdConsensus, TileSeqs,
# chimeras:
FindChimeras, CreateChimeras,
# microarrays:
DesignArray, Array2Matrix, NNLS, CalculateEfficiencyArray,
# primers:
AmplifyDNA, CalculateEfficiencyPCR, DesignPrimers, DesignSignatures, DigestDNA, MeltDNA,
# probes:
CalculateEfficiencyFISH, DesignProbes,
# viewing information:
BrowseSeqs, BrowseDB,
# sequence analysis/manipulation:
CorrectFrameshifts, OrientNucleotides, PredictHEC, TrimDNA,
# multiple alignment:
AdjustAlignment, AlignDB, AlignProfiles, AlignSeqs, AlignTranslation, MaskAlignment, StaggerAlignment,
# synteny:
AlignSynteny, FindSynteny
)

S3method(`[`, "Synteny")
S3method(pairs, "Synteny")
S3method(plot, "Synteny")
S3method(print, "Synteny")
